h1 {
    text-align: left;
    color: rgb(0, 99, 65);
    border-bottom: 5px solid black;
    padding-bottom: 7px;
}

/* TODO: Make line shorter to "Courses Offered" title*/
h2 {
    text-align: center;
    color: rgb(0, 150, 98);
    border-bottom: 5px solid black;
    padding-bottom: 7px;
}

.semesters {
    text-align: center;
}

a {
    font-weight: bold;
    font-size: 1.25em;
}

a:link, a:visited {
    background-color: rgb(0, 99, 65);
    color: white;
    padding: 9px 25px;
    display: inline-block;
    border-radius: 10px;
}

a:hover, a:active {
    background-color: rgb(0, 150, 98);
    text-decoration: none;
}

/*Code to style the log-in page title*/
.title {
    padding-top: 50px;
    padding-bottom: 25px;
}

/*Code to style the title in the GradPlanner page*/
.planTitle {
    border-bottom: solid;
    margin-left: 10px;
    margin-right: 300px;
}

.buttonList {
    padding: 25px 25px;
    text-align: center;
}

.classes {
    text-align: center;
}

body {
    margin: 0;
    padding: 0;
}

.container {
    position: fixed;
    right:0;
    top:0;
    text-align: right;
    margin-top: 2px;
}

 /*btn 3 = Filter button*/
.btn3 {
    margin: 10px;
    text-align: right;
    transform: translate(0,-10px);
    position: absolute;
    font-weight: bold;
    font-size: .70em;
    background-color: rgb(0, 99, 65);
    color: white;
    padding: 3px 20px;
    display: inline-block;
    border-radius: 10px;
}

.btn3:hover, .btn3:active {
    color: #fff;
    background-color: rgb(0, 150, 98);
    text-decoration: none;
}

/* From GradPlanner Page */
.inner { 
    width: 60vw;
    margin-left: 20%;
  }
  
  .inner p {
    height: 0px;
    overflow: hidden;
    border: 1px solid rgba(0,0,0,0,055);
  }

  .planTitle {
    border-bottom: solid;
    margin-left: 10px;
    margin-right: 300px;
}