mat-expansion-panel {
  width: 80%;
  margin: auto;
}

mat-expansion-panel-header {
  height: 4rem;
}

mat-panel-title span {
  font-size: 2rem;
  margin: auto;
}

mat-card {
  margin-top: 0.6rem;
}

.taking {
  background-color:#87ADFF;
}

.needing {
  background-color: #5BFF9E;
}
