<mat-accordion>
  <mat-expansion-panel>

    <mat-expansion-panel-header [collapsedHeight]="'100px'" [expandedHeight]="'100px'">
      <mat-panel-title>
        <span>SPRING SEMESTER 2020 +</span>
      </mat-panel-title>
    </mat-expansion-panel-header>

    <mat-card>
      CS-105 Intro to Programming
  </mat-card>
  <mat-card>
      IT-143 Structured Query Language(SQL)
  </mat-card>
  </mat-expansion-panel>
</mat-accordion>

<br>

<mat-accordion>
  <mat-expansion-panel>

    <mat-expansion-panel-header [collapsedHeight]="'100px'" [expandedHeight]="'100px'">
      <mat-panel-title>
        <span>FALL SEMESTER 2020 +</span>
      </mat-panel-title>
    </mat-expansion-panel-header>

    <mat-card>
      CS-115 Intro to Object Oriented Programming
  </mat-card>
  <mat-card>
      CS-220 Web Programming
  </mat-card>
  <mat-card>
      MAT-110 College Algebra
  </mat-card>
  </mat-expansion-panel>
</mat-accordion>

<br>

<mat-accordion>
  <mat-expansion-panel>

    <mat-expansion-panel-header [collapsedHeight]="'100px'" [expandedHeight]="'100px'">
      <mat-panel-title>
        <span>WINTER SEMESTER 2021 +</span>
      </mat-panel-title>
    </mat-expansion-panel-header>

    <mat-card>
      CS-235 Data Structures
  </mat-card>

  </mat-expansion-panel>
</mat-accordion>
