h1 {
  text-align: left;
  color: rgb(0, 99, 65);
}

/* TODO: Make line shorter to "Courses Offered" title*/
h2 {
  text-align: center;
  color: rgb(0, 150, 98);
}

a {
  font-weight: bold;
  font-size: 1.25em;
}

a:link, a:visited {
  background-color: rgb(0, 99, 65);
  color: white;
  padding: 9px 25px;
  display: inline-block;
  border-radius: 10px;
}

a:hover, a:active {
  background-color: rgb(0, 150, 98);
  text-decoration: none;
}

/*Semesters alignment*/
/*TODO: put them side by side*/
.semesters {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

/*Code to style the title in the GradPlanner page*/
.planTitle {
  border-bottom: solid;
  margin-left: 10px;
  margin-right: 300px;
}

.courseTitle {
  border-bottom: solid;
  border-color: grey;
  margin-left: 40%;
  margin-right: 40%;
}

.buttonList {
  padding: 25px 25px;
  text-align: center;
}

.classes {
  text-align: center;
}

body {
  margin: 0;
  padding: 0;
}

.container {
  position: fixed;
  right:0;
  top:0;
  text-align: right;
  margin-top: 5px;
}

/*btn 3 = Filter button*/
.btn3 {
  margin: 10px;
  text-align: right;
  transform: translate(0,-10px);
  position: relative;
  font-weight: bold;
  font-size: 1.0em;
  background-color: rgb(0, 99, 65);
  color: white;
  padding: 5px 50px;
  display: inline-block;
  border-radius: 10px;
  bottom: 50px;
  left: 800px;
}

.btn3:hover, .btn3:active {
  color: #fff;
  background-color: rgb(0, 150, 98);
  text-decoration: none;
}

.dropdown {
position: relative;
display: inline-block;
}

.dropdown-content {
display: none;
position: absolute;
background-color: rgb(0, 99, 65);
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
left: 800px;
top: -15px;
}

.dropdown-content a {
color: white;
padding: 12px 16px;
text-decoration: none;
display: block;
}

.dropdown-content a:hover {
  color: black;
  background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
display: block;
}

.dropdown:hover .btn3 {
  background-color: #3e8e41;
}

/* Search Bar */

/*  {box-sizing: border-box;}

.topnav {
  overflow: hidden;
  background-color: #e9e9e9;
}

.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #2196F3;
  color: white;
}

.topnav .search-container {
  float: right;
}

.topnav input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}

.topnav .search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.topnav .search-container button:hover {
  background: #ccc;
}

@media screen and (max-width: 600px) {
  .topnav .search-container {
    float: none;
  }
  .topnav a, .topnav input[type=text], .topnav .search-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type=text] {
    border: 1px solid #ccc;  
  }
}*/