// TODO: create collapsible semester menus

<app-header-nav></app-header-nav>
<div class="text-center p-4">
  <h2>LDS Business College Grad Path</h2>
</div>

<div class="inner">
  <button type="button" class="btn p-2 m-2"><h4>Winter Semester 2020 +</h4></button>
  <p>CS-235 Data Structures</p>
  <p>CS-115 Intro to Object Oriented Programming</p>
</div>
<div class="inner">
  <button type="button" class="btn p-2 m-2"><h4>Spring Semester 2020 +</h4></button>
  <p>CS-235 Data Structures</p>
  <p>CS-115 Intro to Object Oriented Programming</p>
</div>
<div class="inner">
  <button type="button" class="btn p-2 m-2"><h4>Fall Semester 2020 +</h4></button>
  <p>CS-235 Data Structures</p>
  <p>CS-115 Intro to Object Oriented Programming</p>
</div>
  <div class="inner">
  <button type="button" class="btn p-2 m-2"><h4>Winter Semester 2021 +</h4></button>
  <p>CS-235 Data Structures</p>
  <p>CS-115 Intro to Object Oriented Programming</p>
</div>
